<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.apache.dubbo.demo.mine.spring.aop" />

    <import resource="spring-jdbc.xml" />

    <!-- @Aspect不能自动注册，要先注册成为bean -->
    <!--<bean id="atAnnotationAspect" class="org.apache.dubbo.demo.mine.spring.aop.AtAnnotationAspect"></bean>-->

    <!--spring声明式事务管理控制-->
    <!--配置事务管理器类-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- xml方式启用@Aspect -->
    <!-- java方式：@Configuration、@EnableAspectJAutoProxy -->
    <aop:aspectj-autoproxy proxy-target-class="true" />

    <tx:annotation-driven transaction-manager="transactionManager" />

    <!--<bean id="setImpl" class="org.apache.dubbo.demo.mine.spring.aop.SetImpl"></bean>-->

</beans>